<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      MyApp with Standalone
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header color="secondary" class="ion-text-center" size="24">
      Grocery List
    </ion-list-header>
    <ion-item *ngFor="let item of groceryList">
      <ion-label>{{item.name}}
        <p><ion-text color="median">{{item.description}}</ion-text></p>
      </ion-label>
      <ion-button slot="end" fill="outline" [strong]="true" [routerLink]="['item',item?.id]">View</ion-button>
    </ion-item>
  </ion-list>
  <ion-list>
    @if(image){
    <img [src]="image" />
    }
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="uploadImg()">Upload Grocery List</ion-button>
  </ion-toolbar>
</ion-footer>